:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --right-side-padding:3rem;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-size: inherit;
    font-family:inherit;
}

main {
    display:flex;
    width:100vw;
    height:100vh;
}

.icon-sidebar {
    flex:2;
    background-color: antiquewhite;
    background-image: url("assets/iso10-38OTHc-zU6c-unsplash.jpg");
    background-size: contain;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.logo-text {
    height:20vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    display:flex;
    justify-content: center;
    gap:1rem;
    margin-top:30vh;
    color:#fff;
    margin-bottom:auto;
}

.logo-text h1 {
    font-size:3rem;
}

.logo-text svg {
    color:#fff;
    width:3rem;
    height:3rem;
}

.image-attribution {
    color:#515151;
    padding: 15px;
}

.image-attribution a{
    color:#6c6c6c;
    text-decoration: none;
}

.form-content {
    flex:3;
    background-color: rgb(235, 235, 235);
    
    display:flex;
    flex-direction: column;
    
}

.form-header {
    height:30vh;
    font-size: 1.5rem;
    padding:var(--right-side-padding);
    display:flex;
    align-items: end;
}

.form-header h2 {
    max-width:60ch;
}


.form-main {
    height:30vh;
    background-color: #fff;
    padding:var(--right-side-padding);
}

.form-footer {
    height:40vh;
    padding:var(--right-side-padding);
}